{% extends 'template.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-12 sm-container">
        <p>Skinner & Associates employs experienced and dedicated attorneys that will fight valiantly
            for your rights throughout your case. We take a personalized approach to each client’s
            situation and present every available option for you. We help you make educated decisions
            while taking the stress and worry out of your case proceedings.</p>
        <img src="{{ 'static/img/Daniel_Skinner.jpg' }}" align="left" class="img-fluid logo rounded img-responsive">

        <p>Dan J. Skinner, founder and owner of Skinner &amp; Associates, LLC, represents individuals and
            businesses
            in general areas of law.</p>
        <p>Dan worked as a clerk and interim bailiff for the Honorable Judge Gregory Singer at the Montgomery
            County
            Common Pleas Court, and as an extern for the Honorable Justice Evelyn Lundberg Stratton at the Ohio
            Supreme Court. He also worked as a paralegal and office manager at a general practice law firm for
            almost 10 years before law school.</p>
        <p>During law school, Dan served his fellow classmates as the President of his class, and as the
            Executive
            President of the Student Bar Association. He served his fellow citizens as a City Councilman in
            Reynoldsburg, Ohio, January 1, 2014 through December 31, 2017.</p>
        <p>This winter, Dan will marry the love of his life, Melissa. Dan and Melissa have a poodle named Sophie,
            and attend Lifepoint Church in Lewis Center. Dan is also the oldest of eleven children. He enjoys
            spending time with Melissa, spending time with his family and friends, serving people, and watching
            and playing sports.</p>
    </div>
</div>
<div class="col-sm-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-Education-list" data-toggle="list"
           href="#list-Education" role="tab" aria-controls="Education">Education</a>

        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
           href="#list-Bar" role="tab" aria-controls="Bar">Bar Admissions</a>

        <a class="list-group-item list-group-item-action" id="list-Memberships-list" data-toggle="list"
           href="#list-Memberships" role="tab" aria-controls="Memberships">Messages</a>
    </div>
</div>
<div class="col-sm-8">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-Education" role="tabpanel" aria-labelledby="list-Education-list">
            <li>Paralegal Certificate, Oakbrook College of Law (2001)</li>
            <li>B.B.A., Mount Vernon Nazarene University (2007)</li>
            <li>J.D., University of Dayton (2011)</li>
        </div>
        <div class="tab-pane fade" id="list-Bar" role="tabpanel" aria-labelledby="list-Bar-list">
            <h3 class="smaller thick">State of Ohio</h3>
            <li>U.S. Supreme Court</li>
            <li>U.S. District Court, Southern District of Ohio</li>
            <li>U.S. District Court, Northern District of Ohio</li>
            <li>U.S. District Court, Northern District of Georgia (Pro Hac Vice)</li>
            <li>U.S. Court of Appeals, Sixth Circuit</li>
        </div>
        <div class="tab-pane fade" id="list-Memberships" role="tabpanel" aria-labelledby="list-Memberships-list">
            <li>Ohio State Bar Association</li>
            <li>Dayton Bar Association</li>
            <li>Columbus Bar Association</li>
        </div>
    </div>
</div>
{% endblock %}