{% extends 'template.html' %}

{% block body %}
<div class="col-sm-8 cr" style="padding: 20px;">
    <h2>
        <center>Skinner & Associates, LLC</center>
    </h2>
    <p>Skinner & Associates Attorneys at Law work with clients in Central Ohio in general law,
        such as personal injury, guardianship cases, divorce, custody, traffic tickets,
        criminal law matters, real estate closings and other real
        estate matters, estate planning, and many more. Daniel J. Skinner leads our team of attorneys and law
        professionals in providing compassionate, thorough, and effective legal assistance.</p>
    <p>With six convenient locations in Reynoldsburg, Columbus, Westerville, Dublin/Hilliard, Gahanna/New Albany, and
        Worthington, we serve clients from all walks of life across the state of Ohio. Contact Skinner & Associates
        Attorneys at Law for a no obligation consultation for a trustworthy, knowledgeable legal team to handle your
        case.</p>
    <h3 class="smaller"><a target="_blank" href="{{ url_for('.reward') }}">Skinner & Associates selected for 2018
        Reynoldsburg Small Business Excellence Award</a></h3>
</div>
<div class="col-sm-4 sidebar cr rounded" style="padding:10px;">
    <h3 class="smaller thick">
        <center>CONTACT US</center>
    </h3>

    <h5 class="smaller thick">Reynoldsburg (<b>Primary Office</b>)</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=20 South Third St Columbus, Ohio 43215">
        6420 East Main St <br>Suite 202 Reynoldsburg, OH 43068
    </a></p>

    <hr>
    <h3 class="smaller thick">
        <center><b>Other Locations By Appointment</b></center>
    </h3>
    <h5 class="smaller thick">Columbus</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=20 South Third St Columbus, Ohio 43215">
        20 South Third St<br>Columbus, Ohio 43215
    </a></p>

    <h5 class="smaller thick">Dublin / Hilliard</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=45 Metro Place South Suite 100 Dublin, Ohio 43017">
        545 Metro Place South <br>Suite 100 Dublin, Ohio 43017
    </a></p>

    <h5 class="smaller thick">Gahanna / New Albany</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=4449 Easton Way Suite 200 Columbus, Ohio 43219">
        4449 Easton Way <br>Suite 200 Columbus, Ohio 43219
    </a></p>

    <h5 class="smaller thick">Westerville</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=470 Olde Worthington Rd Suite 200 Westerville, Ohio 43082">
        470 Olde Worthington Rd <br>Suite 200 Westerville, Ohio 43082
    </a></p>

    <h5 class="smaller thick">Worthington</h5>
    <p><a target="_blank" href="http://maps.google.com/?q=100 East Campus View Blvd Suite 100 Columbus, Ohio 43235">
        100 East Campus View Blvd <br>Suite 100 Columbus, Ohio 43235
    </a></p>
</div>
{% endblock %}