{% extends 'template.html' %}

{% block body %}
<div class="col-sm-12 cr">
    <h2>
        <center>We provide quality legal solutions to meet your goals</center>
    </h2>
</div>

<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="civil">Civil Litigation</h3>
    <div id="pltwentyfive">
        <img src="{{ 'static/img/image-5.jpg' }}" align="right" class="img-fluid logo rounded img-responsive">
        <p>Skinner &amp; Associates provides civil litigation in Ohio,
            assisting clients with employment law, corporate litigation, and medical malpractice. and landlord/tenant
            disputes. We also work with individuals seeking to reduce or eliminate debt that has become too much for
            them to
            pay back on their own.
            Our experienced lawyers aim to settle cases through mediation whenever when possible, but will fight for
            your
            rights in and out of the courtroom, to achieve you the results you need to move forward. Contact our law
            offices in Reynoldsburg, Columbus, Dublin and Westerville, Ohio for consultation.</p>
    </div>
</div>

<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="criminal">Criminal Law</h3>
    <div id="pltwentyfive"><p>Criminal law governs what is illegal conduct. <a href="{{url_for('basic.index')}}">Skinner
        &amp;Associates</a> represents
        and defends individuals associated with felonies, misdemeanors, traffic violations, juvenile law, appeals,
        DWI/DUI/OVI, domestic violence, probation violation, and white-collar crimes. We will fight for an outcome
        that is best for you while protecting your rights. We have criminal lawyers in Reynoldsburg, Columbus, Dublin
        and
        Westerville, Ohio.</p></div>
</div>
<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="employment">Employment Law</h3>
    <div id="pltwentyfive"><p>Employment law governs the employer-employee relationship and establishes important rights
        and regulations that determine what is legal and illegal in the workplace. We represent individuals and
        companies in a number of employment law areas. If you are an employee and believe your rights have been
        violated, or are a company and have questions about employment matters,
        <a href="{{url_for('basic.index')}}">Skinner &amp; Associates</a> will work with you to make sure your
        rights are protected and your needs are met. Contact our law offices in Reynoldsburg, Columbus, Dublin and
        Westerville, Ohio for consultation.</p></div>
</div>
<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="estate">Estate Planning</h3>
    <div id="pltwentyfive"><p>While considering the necessary arrangements surrounding your death is difficult, it is
        essential to prepare
        in advance to protect your loved ones. <a href="{{url_for('basic.index')}}">Skinner &amp; Associates</a>
        works with Ohio residents through the estate planning process to create a plan that includes a living will,
        Health Care and Financial Powers of Attorney, and a HIPPA Waiver. We’ll also review your estate
        deed to ensure it contains the necessary survivorship language. We provide estate planning consultations
        in Reynoldsburg, Columbus, Dublin and
        Westerville, Ohio.</p></div>
</div>
<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="family">Family Law</h3>
    <p>Family law governs the relationship between men, women, and children.
        <a href="{{url_for('basic.index')}}">Skinner &amp; Associates</a>
        <img src="{{ 'static/img/image-9.jpg' }}" align="left" class="img-fluid logo rounded img-responsive">
        represents individuals in a number of areas of family law. If you have questions or concerns
        regarding your rights or obligations, we will work aggressively to protect your rights and achieve an
        outcome that is best for you. We practice family law in Reynoldsburg, Columbus, Dublin and Westerville,
        Ohio.</p>
</div>
<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="real-estate">Real Estate</h3>
    <div id="pltwentyfive"><p>Real estate law governs transactions between buyers, sellers, developers, landlords,
        tenants, and other individuals. We represent individuals and entities in many different areas of
        real estate law, including home closings, home purchases and sales, reviewing leases, and land
        contracts. If you have any questions or need
        representation in a real estate-related matter, <a href="{{url_for('basic.index')}}">
            Skinner &amp;Associates</a> will work
        hard to represent you and protect your interest in your legal matter. We have real estate attorneys in
        Reynoldsburg, Columbus, Dublin and Westerville, Ohio.</p>
    </div>
</div>
<div class="col-sm-12 cr">
    <h3 class="smaller thick" id="additional">Additional Services</h3>
    <div id="pltwentyfive"><p><a href="{{url_for('basic.index')}}">Skinner &amp; Associates</a> offers several oother
        legal services in Ohio to cover many additional areas of law. You can trust our dedicated and
        knowledgeable team of lawyers to help you navigate several types of cases. Our additional services include:</p>
        <ul>
            <li>Business Law</li>
            <li>Personal Injury</li>
            <li>Mediation</li>
        </ul>
    </div>
</div>
{% endblock %}