{% extends 'template.html' %}

{% block body %}
<div class="col-sm-12" style="padding: 20px;">
    <h2><center>Skinner & Associates selected for 2018 Reynoldsburg Small Business Excellence Award</center></h2>
    <p>Reynoldsburg,OH - 10/1/2018 — Skinner & Associates has been selected for the 2018 Reynoldsburg
        Small Business Excellence Award in the Divorce & Family Law classification by the Reynoldsburg
        Small Business Excellence Award Program.

    <p>Disclaimer:</p>
    <li>Various sources of information were gathered and analyzed to choose the winners in each category.
        The 2018 Reynoldsburg Small Business Excellence Award Program focuses on quality, not quantity.
        Winners are determined based on the information gathered both internally by the Reynoldsburg
        Small Business Excellence Award Program and data provided by third parties.
    </li>
</div>
{% endblock %}