{% extends 'template.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-12 sm-container">
        <h3 class="smaller thick">Talented Staff Of Legal Professionals</h3>
        <img src="{{ 'static/img/image-1.jpg' }}" align="right" class="img-fluid logo rounded img-staff" width="150px">
        <p><a href="{{ 'basic.index'}}">Skinner &amp; Associates</a> employs an educated, talented staff of legal
            professionals
            who work with our lead attorneys. They include a paralegal, law clerk, legal assistant, secretary,
            accountant, and receptionists who all work diligently to keep our law firm running smoothly and our clients
            comfortable.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 sm-container bot-div staff-div">
        <h3 class="smaller thick">Jessica Skinner - Office Manager</h3>
        <img src="{{ 'static/img/Jessica Skinner.jpg' }}" align="left" class="img-fluid d-block rounded img-staff">
        <p>Jessica started working as a Legal Assistant for Skinner &amp; Associates at the beginning of 2014. </p>
        <p>She is currently a student at Columbus State Community College, pursuing her Associate of Science degree,
            and plans to transfer to a branch of The Ohio State University to finish her 4 year degree.</p>
        <ul>
            <li>Notary Public for the State of Ohio</li>
        </ul>
    </div>
    <div class="col-sm-6 sm-container bot-div staff-div">
        <h3 class="smaller thick">Jody Deeds - Paralegal</h3>
        <p>Jody started working as a Paralegal for Skinner &amp; Associates in December of 2016. In 2011, Jody
            graduated
            with honors from Columbus State Community College, earning an Associate Degree in Paralegal Studies. Her
            papers on Equal Employment Opportunity, and First Amendment Rights, were recognized and selected for use
            in
            the American Bar Association's audit and accreditation review of college's paralegal studies
            program.</p>
        <ul>
            <li>A.A.S, Paralegal Studies</li>
            <li>Ohio Real Estate License</li>
            <li>Notary Public for the State of Ohio</li>
        </ul>
    </div>
    <div class="col-sm-6 sm-container">
        <h3 class="smaller thick">Liz Brandenburg - Administrative Assistant</h3>
        <!--<img class="inline-left" src="images/attorneys/Jessica Skinner.jpg" width="150" alt="Jessica Skinner" title="Jessica Skinner">-->
        <p>Liz started working as an Administrative Assistant for Skinner &amp; Associates in December of 2016. Liz
            attended Pensacola Christian College for 4 years where she double majored and graduated in 2015. Prior
            to
            Skinner &amp; Associates she worked for a private owner of Verizon Wireless in the role of HR, for 21
            stores. She is also a member of the Gospel Light Baptist Church in Sunbury, Ohio where she faithfully
            serves.</p>
        <ul>
            <li>B.A., Business Management</li>
            <li>B.A., Marketing</li>
            <li>Notary Public for the State of Ohio</li>
        </ul>
    </div>
</div>
{% endblock %}