<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap4.1.3.css') }}">
    <link rel="stylesheet" type="text/java" href="{{ url_for('.static', filename='js/util.js') }}">
    <!-- Insure mobile experience -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'menu/default.html' %}
    <title>{{spec.title}}</title>
</head>
<body>
<div class="container" style="background-color: white;">
    <div class="row" style="background-image: url(static/img/7.jpg); padding-top: 10px;">
        <div class="col-sm-8">
            <img src="{{ 'static/img/logo.png' }}" class="img-fluid logo rounded" alt="Responsive image">
        </div>
        <div class="col-sm-4" style="padding-top: 30px;">
            <h2>614-664-0200</h2>
        </div>
        <div class="no-padding-col" style="margin-top: 30px;">
            {% include 'layout/menu.html' %}
        </div>

        {%- if request.url_rule.endpoint == "basic.index" %}
        <div class="no-padding-col">
            {% include 'layout/slider.html' %}
        </div>
        {% endif %}
    </div>
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            {% block body %}{% endblock %}
        </div>
    </div>
    {% include 'layout/footer.html' %}
</div>
</body>
</html>