<!-- Copyright <div style="background-color:3a0e10"> -->
<!-- Footer -->
<footer class="row bgcr top-comfort">
    {% for key, value in fm.sitemap.items() %}
    <div class="col-sm-2">
        <center class="text-uppercase mt-3 mb-3"><a href="{{value}}">{{key}}</a></center>
    </div>
    {% endfor %}
    <div class="col-sm-12 footer-copyright text-center py-3"><h5 class="smaller"> © 2018 Copyright:
        <a class="text-uppercase" href="{{url_for('basic.index')}}"> Skinner & Associates, LLC</a></h5>
    </div>
</footer>
