<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- HTML -->
<nav class="navbar navbar-expand-lg navbar-dark bgcr">
    <a class="navbar-brand" href="{{url_for('basic.index')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('basic.attorneys')}}">Attorneys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('basic.blog')}}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('basic.staff')}}">Staff</a>
            </li>
            <li class="nav-item">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Practice
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#real-estate">Real Estate</a>
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#family">Family Law</a>
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#estate">Estate Planning</a>
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#employment">Employment Law</a>
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#criminal">Criminal Law</a>
                    <a class="dropdown-item" href="{{url_for('basic.practice')}}#civil">Civil Litigation</a>
                </div>
            </li>
        </ul>
    </div>
</nav>