/* Font Modifier [Color, Size] */
.top-comfort{
    margin-top: 20px;
}

footer a{
    color: rgba(255,255,255,.5); !important
    text-decoration: none;
    background-color: transparent;
}
footer a:hover{
    /* color: #dbcbcc;*/
    color: rgba(255,255,255,.5)
}

.cr{
    color: #62181b;
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5 {
    color: #62181b
}
.smaller{
    font-size: 16px;
}

.page-footer h5{
    color: white;
}

#pltwentyfive{
    padding-left: 25px;
}

h3.thick{
    font-weight: bold;W
}

/* Background Color */
.bgcr{
    color: white;
    background-color: #62181b;
}

p{
    color: black; !important
}

.sidebar{
    background: #eee;!important;
}
.sidebar p{
    margin: 0px 0px 15px 15px
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.bot-div{
    /*border-bottom: 1px solid #CCC;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;*/
}

.staff-div{
    margin: 10px 0px 10px 0px;
    padding-bottom:10px
}

.no-padding{
    padding-left: 0px; !important
    padding-right: 0px; !important
}

/* IMAGES */
.logo{
    z-index: 1;
}
.header-img{
    z-index: 2;
}
.border{
    border: none;
    display: block;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.container  .img-responsive {
    max-width: 20%; /* or to whatever you want here */
    max-height: 30%;
    margin: 0px 15px 5px 15px;
}

.container  .img-staff {
    max-width: 30%; /* or to whatever you want here */
    max-height: 40%;
    margin: 0px 15px 5px 15px;
}

.bullets_bar{
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

/* Menu JS */
.navbar .dropdown-menu a{
    padding-left: 15px;
}

.container .no-padding-col{
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 100%;
}
