/* = RESET STYLES = */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a img {
	margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;
}


/* = DEFAULT STYLES = */
body {text-align:center;margin:0;font-family:arial, sans-serif;font-size:12px;background:#434344;}
/* DEFAULT - LINKS */
a {text-decoration:none;font-weight:bold;}
a:hover {text-decoration:underline;}
/* DEFAULT - CLEARS */
.clear {clear:both;height:0;width:0;display: block;}
.clear-right {clear:right;height:0;width:0;}
.clear-left {clear:left;height:0;width:0;}


/* = PAGE = */
#page {width:1000px;margin:0 auto;background:#fbfbfb;-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.75);border-top:3px solid #a6282e;}


/* = HEADER = */
#header {position:relative;height:125px;background:url(images/header-bg.png) no-repeat;}
/* HEADER - LOGO */
#header #logo {position:absolute;top:15px;left:15px;}
#header #logo:hover img {opacity:.7;}
/* HEADER - CALL TO ACTION */
#header #c2a {position:absolute;top:30px;right:20px;text-align:center;}
#header #c2a #tagline {font-size:21px;text-transform:uppercase;color:#333;}
#header #c2a #number {font-size:32px;color:#62181b;}


/* = NAVIGATION = */
#nav {padding:0;position:relative;z-index:50;background:url(images/nav.png) repeat-x;margin-bottom:10px;}
#nav ul {padding:0;margin:0;list-style-type:none;}
#nav ul li {float:left;position:relative;}
#nav ul li a, #nav ul:hover li.current a {display:block;color:#fff;text-transform:uppercase;font-size:16px;font-weight:normal;padding:10px 21px 10px 21px;border-right:1px solid #fbfbfb;text-shadow:1px 1px 0px #333;}
#nav ul li a:hover, #nav ul li.current a, #nav ul:hover li.current:hover a, #nav > ul > li:hover > a {background:url(images/nav-hover.png) repeat-x;color:#902328;text-shadow:1px 1px 0 #fff;text-decoration:none;}
/* NAVIGATION - DROP-DOWN */
#nav ul ul {position:absolute;top:37px;left:0;visibility:hidden;width:100%;height:auto;z-index:50;}
#nav > ul > li:hover > ul {visibility:visible;}
#nav ul ul li {float:none;}
#nav ul ul li a {float:none;padding:5px 15px;height:auto;line-height:normal;background:#fbfbfb;border:none;color:#902328;text-shadow:none;}
#nav ul ul li a.first {}
#nav ul ul li a:hover {background:#902328;color:#fff;text-shadow:none;}
/* NAVIGATION - DROP-DOWN - TIER THREE */
#nav ul ul ul {position:absolute;top:0;left:100%;visibility:hidden;width:100%;height:auto;z-index:50;}
#nav ul ul > li:hover ul {visibility:visible;}
#nav ul ul ul li {float:none;}
#nav ul ul ul li a {float:none;height:auto;line-height:normal;}
#nav ul ul ul li a.first {}
#nav ul ul ul li a:hover {}


/* = BANNER = */
#banner {width:980px;height:300px;margin:0 auto;}
#banner #slider {width: inherit;height: inherit;border:none;}
#banner div.rhino-container, #banner div.rhino-container li.rhino-item img{}


/* = CONTENT = */
#content {text-align:left;line-height:24px;font-size:14px;border-top:2px solid #ccc;margin-top:10px;}
#content ul {list-style-position: outside;padding:0 0 0 25px;margin:15px 0;}
/* CONTENT - HEADINGS */
h1 {color:#902328;font-size:32px;font-weight:normal;border-bottom:1px solid #ccc;}
h1 span {color:#333;text-transform:uppercase;font-size:18px;}
h2 {}
h3 {margin:30px auto 15px;font-size:21px;color:#902328;}
h4 {font-size:18px;margin:15px 0px;color:#902328;}
h5 {}

/* = PRIMARY = */
#primary {float:left;width:675px;margin:20px;}
#primary.full-width {width:1000px;}
#primary p {margin:15px 0;}
#primary hr {height:1px;border:none;background:#CCC;}
/* PRIMARY - IMAGES */
#primary img.inline-left {border:1px solid #CCC;background:#FFF;padding:3px;float:left;margin:20px 15px 5px 0;}
#primary img.inline-right {border:1px solid #CCC;background:#FFF;padding:3px;float:right;margin:5px 0 5px 15px;}
/* PRIMARY - DUEL LISTS - two lists side by side */
div.dual-lists ul {float:left;width:40%;margin:0 1%;padding:0;}




/* = SIDEBAR = */
#sidebar {float:right;width:275px;background:#eee; min-height: 889px;}
#sidebar h3 {text-transform:uppercase;margin:15px;font-size:21px;color:#902328;}
#sidebar h4 {font-size:16px;margin:15px 0px 0px 15px;}
#sidebar p {margin:0px 0px 15px 15px;}
/* SIDEBAR - FORM */
#sidebar form textarea {}
#sidebar form input[type="submit"] {}


/* = FORM = */
form {text-align:left;list-style-type:none;width:250px;margin:0 auto;}
/* FORM - LABEL */
form label {cursor:pointer;clear:both;margin:10px 0 0 0;font-weight:bold;display:block;}
/* FORM - INPUT FIELDS */
form input[type="text"] {border:1px solid #999;border-radius:3px;clear:both;width:99%;padding:3px 0px;}
form input {}
form input:focus, form textarea:focus {background:#FFC;}	/* make field background yellow when filling out */
form textarea {resize:vertical;border:1px solid #999;border-radius:3px;clear:both;height:80px;width:99%;padding:3px 0px;}
/* FORM - CAPTCHA */
form #hiddencheckbox {display:inline-block;margin:0 10px 0 0;padding:3px 0;width:auto;}
form input[type="checkbox"] {border:none;}
form a {display:block;float:left;clear:both;}
/* FORM - SUBMIT BUTTON */
form input[type="submit"] {border:1px solid #999;border-radius:3px;clear:both;width:99%;padding:3px 0px;margin:10px 0;float:left;width:100%;display:block;clear:both;background:#FFF;text-transform:uppercase;text-shadow:1px 1px 0 #FFF;}
form input[type="submit"]:hover {background:#ededee;}
form input[type="submit"]:active {background:#FFC;}


/* = FOOTER = */
#footer {background:#62181b;padding:15px 0px 15px 0px;}
#footer #sitemap {float:left;text-align:left;margin-left:20px;}
#footer #contact-info {}
#footer #copyright {float:right;text-align:right;margin-right:20px;}
/* FOOTER - LINKS */
#footer a {text-transform:uppercase;font-size:11px;color:#fff;font-weight:normal;}
#footer a:hover {text-decoration:none;color:#000;}
/* FOOTER - SITEMAP LINKS */
#footer ul {list-style-type:none;}
#footer ul li {float:left;margin:0 20px 0 0;}

#primary.full-width { float: none; margin: 0; overflow: hidden; padding: 20px; position: relative; width: 960px; }
#primary a { color: #000; }
#primary.full-width h3 { font-size: 18px; }
.text-center { text-align: center; }
/* PRIMARY - IMAGES */
#primary img.inline-left { border: 1px solid #CCC; background: #FFF; padding: 3px; float: left; margin: 5px 25px 15px 0; }
#primary img.inline-right { border: 1px solid #CCC; background: #FFF; padding: 3px; float: right; margin: 5px 0 15px 25px; }
#primary.full-width .clear-below { margin-bottom: 80px; }
#primary.full-width .clear-both { clear: both; }
.inline-right.move-up { position: relative; bottom: 60px; }
.inline-right.move-down { position: relative; top: 80px; }
/* = FORM = */
#primary.full-width #contact-form-container { background: #F6F6F6; border: 2px ridge #FFF; box-shadow: 0 0 5px #000; width: 396px; padding: 20px; margin: 30px 85px 60px 0; position: relative; border-radius: 5px; float: right; line-height: 36px; }
#primary.full-width #contact-form-container.center-form { float: none; margin: 30px auto; }
/* = CONTACT PAGE = */
#primary.full-width .address-left { float: left; width: 380px; margin: 10px 0 0 15px; }
#primary.full-width .address-left p { display: block; width: 340px; color: #555; font-size: 16px; text-align: center; margin: 10px auto 0; line-height: 26px; }

#primary.full-width .address-right {    float: right;
    width: 380px;
    margin: -25px 50px 0 15px; }
#primary.full-width .address-right p { display: block; width: 340px; color: #555; font-size: 16px; text-align: center; margin: 10px auto 0; line-height: 26px; }

/* = LOCATIONS = */
#location-right {    margin-left: 500px;
    margin-top: -415px;text-align:center;}


#primary.full-width form { text-align: left; list-style-type: none; width: 100%; }
/* FORM - LABEL */
#primary.full-width label { cursor: pointer; float: left; clear: both; margin: 5px 0 0 0; color: #555; font-size: 18px; }
#primary.full-width .required { font-weight: bold; color: #F00; }
#primary.full-width #req-field-desc { font-style: italic; color: #555; font-size: 24px; }
/* FORM - INPUT FIELDS */
#primary.full-width input[type="text"] { border-radius: 3px; }
#primary.full-width input { border: 2px ridge #FFF; float: left; clear: both; width: 97%; background: linear-gradient(#eee, #fff); padding: 5px; color: #333; }
#primary.full-width input:focus, form textarea:focus { outline: none; background-position: 0 -1.7em; }
/* make field background color change when filling out */
#primary.full-width textarea { resize: vertical; float: left; clear: both; height: 80px; width: 97%; border: 2px ridge #FFF; font-family: arial, sans-serif; background: linear-gradient(#eee, #fff); padding: 5px; color: #333; }
/* FORM - CAPTCHA */
#primary.full-width form #hiddencheckbox { display: block; }
#primary.full-width form #hiddencheckbox label { float: right; width: 260px; margin-right: 52px; }
#primary.full-width form #hiddencheckbox input[type="checkbox"] { float: left; width: 16px; border: none; clear: none; position: relative; top: 13px; }
#primary.full-width form a { display: block; float: left; clear: both; }
/* FORM - SUBMIT BUTTON */
#primary.full-width form input[type="submit"] { margin: 5px 0; float: left; width: 100%; display: block; clear: both; height: 40px; background: #000; -moz-border-radius: 8px; font-size: 18px; text-transform: uppercase; color: #FFF; border: 2px solid #fff; }                                                                      
#primary.full-width form input[type="submit"]:hover { background: #555; color: #FFF; }
iframe { border: 1px solid #000; margin: 10px 0 5px; }
/* = SITEMAP PAGE = */
#content ul.sitemap-page { margin: 20px auto; display: block; width: 500px; }
#content ul.sitemap-page li { list-style: none; }
#content ul.sitemap-page li a { text-decoration: none; color: #000; text-align: center; font-size: 16px; line-height: 24px; display: block; }
#content ul.sitemap-page li a:hover { color: #333; text-decoration: underline; }
#primary .inline-right.clear-below-60 {
    margin-bottom: 60px;
}
#primary .inline-right.clear-below-100 {
    margin-bottom: 100px;
}

.disclaimer {text-align:justify;font-size:smaller;font-style:italic;color:#666666;}


.blog-page h2 {font-size:1.8em;margin-top:30px;}
.blog-post a img, .blog-post br {display:none;}
.blog-post {border-bottom:1px solid #ccc; padding-top:30px;}

.payments {position:relative;top:-50px;left:40px;}

#primary p.no-bottom-margin{margin: 15px 0 2px 0;}
#content ul.no-bottom-margin {margin: 2px 0 15px 0;}
.italic {font-style: italic;}


.youtube {margin:0 auto; display: block;}

.center-block {margin:0 auto; display:block;}
.arag {margin:100px auto 170px auto;}

.btn-contact {width:100%; margin: 5px auto;}
form input {width:99%;}

.smaller {font-size: 16px;}